talosconfig
goldentooth-allyrion.yaml
goldentooth-bettley.yaml
goldentooth-cargyll.yaml
goldentooth-dalt.yaml
goldentooth-erenford.yaml
goldentooth-fenn.yaml
goldentooth-gardener.yaml
goldentooth-harlton.yaml
goldentooth-inchfield.yaml
goldentooth-jast.yaml
goldentooth-karstark.yaml
goldentooth-lipps.yaml
goldentooth-manderly.yaml
goldentooth-norcross.yaml
goldentooth-oakheart.yaml
goldentooth-payne.yaml
